*{
    margin: 0px;
    padding: 0px;
}



.navigation_bar{
  width: 99vw;
  height: 11vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}


.nav_bar{
  width: 100%;
  height: 100%;
}
.wrap{
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
gap: 2%;
}

.navigation{
  font-family: "Raleway", sans-serif;
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5vw;
    
}
h3{
  font-family: "Raleway", sans-serif;
  position: absolute;
  padding-left: 4%;
  font-size: 1.5vw
  
}
.fa-circle{
    
    color: black;
}

.banner{
  
  position: relative; 
  height: 60vh;
  width: 99vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}

.bg_img{
    width: 100%;
    height: 100%;
   position: absolute;

}
h1{
  font-family: Roboto, sans-serif;
    font-weight: 700;
    position: absolute;
    font-size: 4.2vw;
    width: 48%;
    height: 39%;
    margin-left: 6%;
}

.cube_animation_wrap{
  display: flex;
      width: 100%;
      height: 100%;
      justify-content: end;
}
.cube_animation{
  position: absolute;
    width: 26%;
    height: 100%;
}
.all_sections{
  width: 99vw;
    height: 99vh;
    display: flex;
}
.about_section{
  position: relative;
    height: 45vh;
    width: 32.1vw;
}

  .about_me{
    background-color: #ebe0eb;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .details{
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 3vw;
    color: #8151A1;
    margin-left: 10%;
    
  }
  .more_details{
    font-family: "Raleway", sans-serif;
   font-weight:500;
    color: #8151A1;
    font-size: 1vw;
    margin-left: 10%;
    
  }

  .all_projects_wrap{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
margin-top: 212px;
  }

.project_section{
  position: relative;
    width: 32vw;
    height: 45vh;
    overflow: scroll;
    
}

  .my_projets{
    background-color: #fbfdfe;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    
    
  }
  .my_skills{
    background-color: #eef0f3;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .project_1{
    
    width: 40%;
    height: 50%;
    background-color: #2C3E50;
    display: block;
    position: relative;
    border-radius: 20px;
  }
  #project_1_img{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 100;
    
  }
  .fireworks_animation{
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    
  }
  
  
  .project_2{
    
    width: 40%;
    height: 50%;
    background-color: #1ABC9C;
    display: block;
    position: relative;
    border-radius: 20px;
    
    
  }

  #project_2_img{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 100;
    
  }
 
  .colorfull_animation{
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
      
  }

  .project_showcase_heading{
    font-family: "Raleway", sans-serif;
    position: absolute;
    font-size: 3vw;
  }
  .line{
    width: 10%;
    height: 1%;
    position: absolute;
    background-color: black;
    margin-top: 140px;
   
  }

.project_3{
  width: 40%;
    height: 50%;
    background-color: #1ABC9C;
    display: block;
    position: relative;
    border-radius: 20px;
}

#project_3_img{
  width: 100%;
    height: 100%;
    position: absolute;
    opacity: 100;
}

  .skills_section{
    position: relative;
    width: 33vw;
    height: 45vh;
  }

  .slider_heading{
    font-family: "Raleway", sans-serif;
    font-size: 3vw;
    
  }

  /* slider css */
  .container {
    background-color: #c8c5c9;
    width: 33%;
   height: 100%;
    display: flex;
    overflow: hidden;
    border-radius: 10%;

}

.flex {
    display: flex;
    justify-content: center;
width: 40%;
height: 20%;
}

.content {
    background-color: white;
    text-align: center;
  margin: 15%;
    position: relative;
    transition: all 2s;
    font-size: 0.9vw;
    

}

.btn {
    width: 22%;
   
    margin-left: 14%;
    border: 2px solid white;
    border-radius: 70%;


}

.fa-js {
    font-size: 4em;
    position: relative;
    bottom: 3%;
    color: #040404;
    right: 2%;
    margin-top: 5%;


}

.fa-html5 {
    font-size: 4em;

    color: #040404;
}

.fa-css3-alt {
    font-size: 4em;

    color: #040404;
}




.fa-arrow-right {
    color: black;
    background-color: white;
}